<configuration>
  <appSettings>
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUser" value="seu.email@gmail.com" />
    <add key="SmtpPassword" value="SUA_APP_PASSWORD_AQUI" />
    <add key="SmtpFromEmail" value="seu.email@gmail.com" />
    <add key="SmtpFromName" value="PT Readify" />
    <add key="SmtpEnableSsl" value="true" />
  </appSettings>
</configuration>